/* When screen is at least 900px use this CSS -- LARGER Screens  */

@media only screen and (min-width: 900px) {
  .page-links {
    display: flex;
    /* gap: 3em; */
    justify-content: center;
    background-color: gray;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-around;
  }
  .page-links a {
    padding: 0 1em;
  }

  .ham-box,
  .ham {
    display: none;
  }
  .box2-event {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box1-hero {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /* width: auto;
        height: auto; */
  }

  .hero {
    height: 100%;
    width: 100%;
  }

  .box3-new-releases {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .box4-weather {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .box5-join {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .spotlight-boxes-holder {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  spotlight-boxes div {
    height: 200px;
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
  }

  .page-links {
    box-shadow: 5px 5px 10px grey;
  }

  picture img:hover {
    box-shadow: 5px 5px 10px black;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; /* Add some gap between the cards */
  }
  
  .cards section {
    width: 100%; /* Reset the width to 100% to fit three cards per row */
    max-width: unset; /* Remove the maximum width restriction */
  }

  .list-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Add some gap between the cells */
  }
  
  .list-table div {
    padding: 10px;
    /* border: 1px solid black; */
  }
  
  .list-table h2 {
    font-weight: bold; /* Make the business names bold */
  }
  
  .list-table div:nth-child(1) {
    grid-column: 1; /* Place names in the first column */
  }
  
  .list-table div:nth-child(2) {
    grid-column: 2; /* Place addresses in the second column */
  }
  
  .list-table div:nth-child(3) {
    grid-column: 3; /* Place links in the third column */
  }  

  .discover-pics {
    width: 500px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .discover-p {
    font-size: 18px;
    font-weight: bold;
  }
  
  .discover-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this line to center the content vertically */
    text-align: center; /* Add this line to center the content horizontally */
  }
  
  .discover-box {
    text-align: center;
    margin-bottom: 20px;
  }

  .cards.list-view {
    display: flex;
    flex-direction: column;
  }
  
  .list-view .name-cell {
    grid-column: 1; /* Place name cells in the first column */
  }
  
  .list-view .phone-cell {
    grid-column: 2; /* Place phone cells in the second column */
  }
  
  .list-view .address-cell {
    grid-column: 3; /* Place address cells in the third column */
  }
  
  .list-view .website-cell {
    grid-column: 4; /* Place website cells in the fourth column */
  }
  
  /* Additional styling for the cells */
  .name-cell,
  .phone-cell,
  .address-cell,
  .website-cell {
    flex-basis: 100%;
    width: 100%;
  }

  .table-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(255, 255, 0, 0.592);
  }

  .table-row:nth-child(even) {
    background-color: #e2dfd8;
  }
}
