#content {
  width: 100%;
  margin: 0 auto;
}
.cards {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  text-align: center;
  justify-content: center;
}
.cards section {
  border: 1px solid navy;
  background-color: lightblue;
  padding: 30px;
  text-align: center;
  width: 300px;
  margin: 5px;
}
h2,
h1 {
  color: navy;
  text-align: center;
}
img {
  width: 90%;
  box-shadow: 5px 10px 8px 5px #888888;
}

footer {
  text-align: center;
}
